<header class="header_area">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container box_1620">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="/"><img src="/<%= navlogo %>" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" ']]'''aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="navbarSupportedContent" style="position: relative;">
              <ul class="nav navbar-nav menu_nav justify-content-center">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li> 
                <li class="nav-item"><a class="nav-link" href="/register">Category</a>
                <li class="nav-item"><a class="nav-link" href="/register">Contact</a></li>
              </ul>
  
              <ul class=" nav navbar-nav navbar-right navbar-social center" style="right: 1rem;position: absolute;">
                <li><a href="#"><i class="ti-facebook "></i></a></li>
                <li><a href="#"><i class="ti-twitter-alt "></i></a></li>
                <li><a href="#"><i class="ti-instagram "></i></a></li>
                <li><a href="#"><i class="ti-skype "></i></a></li>
              </ul>
  
              <span class="nav-item" style="z-index: 1000;"><a class="blog__slide__label " href="/signin" style="width: 160px; text-align:center;">log in</a></span>
  
            </div> 
          </div>
        </nav>
      </div>
    </header>