/* font family
	============================================================================================ */
$title-font: 'Lora', serif;
$text-font: 'Source Sans Pro', sans-serif;
$h1-font: 'Khand', sans-serif;
$h-font: 'Lobster', cursive;
/* color variables
	============================================================================================ */
$title-color: #3a414e;
$text-color: #797979;
$black: #222222;
$primary-color: #8CC444;


$link-color: #7b838a;
$white: #fff;
$soapstone : #fff9f7;


/* google fonts
	============================================================================================ */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');

